<h1>Course Code</h1>
<form method="post">
    <fieldset>
        <label for="courseCode" class="col-2">Course Code:</label>
        <input name="courseCode" id="courseCode" required />
    </fieldset>
    <button class="offset-3 btn btn-primary">Save</button>
</form>
