<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <!-- bootstrap theme from https://bootswatch.com -->
      <link rel="stylesheet" href="/stylesheets/boostrap.min.css" />
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-light">
      <!-- Links -->
      <ul class="navbar-nav">
          <a class="navbar-brand" href="/">Project Tracker</a>
          <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
          </li>
      </ul>
  </nav>


  {{{body}}}
  </body>
</html>
